/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
}

   /*--------------------------------*
 	 *	PATHS TO EXTERNAL RESOURCES
	 *--------------------------------*/
   
   process {
   container = "/cbio/projects/004/images/yamp.simg";
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main'
 
   
 }
