/*
 * -------------------------------------------------
 *  ILIFU cluster config file
 * -------------------------------------------------
 * http://www.ilifu.ac.za/
 */

singularity {
   enabled = true
}

params {	
	//Adapter sequences and synthetic contaminants to be removed in the trimming step
	adapters="/cbio/projects/004/dbs/bbmap/resources/adapters.fa" //available in resources folder of bbmap installation by default	
	artifacts="/cbio/projects/004/dbs/bbmap/resources/sequencing_artifacts.fa.gz" //available in resources folder of bbmap installation by default
	phix174ill="/cbio/projects/004/dbs/bbmap/resources/phix174_ill.ref.fa.gz"	//available in resources folder of bbmap installation by default
	

	//Reference pan-genome for contamination. 
	//NB: It should be indexed beforehand with `bbmap.sh -Xmx24G hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz`

	refForeignGenome="/cbio/projects/004/dbs/contamination-checking/" //index human contaminants downloaded from https://zenodo.org/record/1208052/files/hg19_main_mask_ribo_animal_allplant_allfungus.fa.gz
	
	//BowTie2 database for MetaPhlAn2
	mpa_pkl="/cbio/projects/004/dbs/metaphlan2/db_v20/mpa_v296_CHOCOPhlAn_201901.pkl"
	bowtie2db="/cbio/projects/004/dbs/metaphlan2/db_v20/"
	bowtie2dbfiles="mpa_v296_CHOCOPhlAn_201901"
	
	// ChocoPhlAn and UniRef databases
	chocophlan="/cbio/projects/004/dbs/chocophlan/"
	uniref="/cbio/projects/004/dbs/uniref/"	
	
	//Strainphlan
	metaphlan_markers="/cbio/projects/004/dbs/metaphlan2/all_markers.fasta"
	
	//[OPTIONAL]
    	//Newick tree filepath, required for phylogenetic alpha diversity (PD_whole_tree, QIIME)
	treepath="null" 
}	

   process {

   container = "/cbio/projects/004/images/yamp-latest.simg";
   
   withName: runFastQC {
    container='/ceph/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
   }
  
   withName: runMultiQC {
     container='/ceph/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
   } 
 
   withName: runFastQC_postfilterandtrim {
     container='/ceph/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
   }

   withName: runMultiQC_postfilterandtrim {
    container='/ceph/cbio/users/katie/singularity_containers/h3abionet_org_h3a16s-fastqc.img';
   }
   
   withName: strainphlan {
    container='/cbio/projects/004/images/strainphlan-2.7.7.simg';
   }


   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'Main'
 
   
 }
